@import url(variables.css);
/*

 #####  #    # ##### #####  ####  #    #
 #    # #    #   #     #   #    # ##   #
 #####  #    #   #     #   #    # # #  #
 #    # #    #   #     #   #    # #  # #
 #    # #    #   #     #   #    # #   ##
 #####   ####    #     #    ####  #    #

*/

.prime-button[data-type="connected"] {
    --focus-outline-color: #40c74b;
    --focus-background-color: #36ad40;
    --hover-background-color: #40c74b;
    --background-color: #36ad40;
}

.prime-button {
    padding: 6px;
}

.prime-button.hide-text>button {
    color:transparent;
    transition: 0.1s;
    transition-timing-function: linear;
}

.prime-button>button:disabled {
    background-color: var(--disable-background-color, var(--disable-button-background-color));
    border-color: var(--disable-border-color, var(--disable-button-border-color));
    color: var(--disable-label-color, var(--disable-button-label-color));
    outline-color: var(--disable-outline-color, var(--disable-button-outline-color));
    transition-duration: 0.1s;
    transition-timing-function: linear;
    pointer-events: none;
}

.prime-button>button:focus:not(:disabled) {
    outline: var(--focus-outline-color, var(--focus-button-outline-color)) solid 0.1875rem !important;
    background-color: var(--focus-background-color, var(--focus-button-background-color));
    border-color: var(--focus-border-color, var(--focus-button-border-color));
    color: var(--focus-label-color, var(--focus-button-label-color));

    transition-property: outline, background, color;
    transition-timing-function: linear;
    transition-duration: .1s;
}

.prime-button>button:hover:not(:disabled) {
    background-color: var(--hover-background-color, var(--hover-button-background-color));
    border-color: var(--hover-border-color, var(--hover-button-border-color));
    color: var(--hover-label-color, var(--hover-button-label-color));
    outline-color: var(--hover-outline-color, var(--hover-button-outline-color));
    transition-duration: 0.1s;
    transition-timing-function: linear;
}

.prime-button>button {
    outline: var(--outline-color, var(--button-outline-color)) solid 0px !important;
    background-color: var(--background-color, var(--button-background-color));
    border-color: var(--border-color, var(--button-border-color));
    color: var(--label-color, var(--button-label-color));

    border: none;
    border-radius: .25rem;
    width: 100%;
    height: 100%;
    padding: 0.25rem 0;
    font-size: var(--regular-font-size);
    cursor: pointer;
    transition-property: outline, background, color;
    transition-duration: .1s;
    transition-timing-function: linear;
}

/*

 # #    # #####  #    # #####    #####   ####  #    #
 # ##   # #    # #    #   #      #    # #    #  #  #
 # # #  # #    # #    #   #      #####  #    #   ##
 # #  # # #####  #    #   #      #    # #    #   ##
 # #   ## #      #    #   #      #    # #    #  #  #
 # #    # #       ####    #      #####   ####  #    #

*/
.prime-input-box {
    position: relative;
    font-size: var(--regular-font-size);
    display: flex;
    place-items: center;
    padding: 3px;
    padding-top: calc(1.5 * var(--regular-font-size)) !important;
}

.prime-input-box span {
    color: var(--label-color, var(--input-label-color));
    display: block;
    position: absolute;
    transform: translate(5%, 0) scale(1);
    transition-duration: .4s;
    user-select: none;
    pointer-events: none;
}

.prime-input-box>input.disabled+span {
    color: var(--disable-label-color, var(--disable-input-label-color));
}

/* This is to move the input label up when the box is focused or hovered over. */
.prime-input-box>input:not(.disabled):hover+span,.prime-input-box>input:not(.disabled):focus+span,.prime-input-box>input:required:valid+span {
    color: var(--hover-label-color, var(--hover-input-label-color));
    transform: translate(-2.5%, -120%) scale(.85);
    transition-duration: .4s;
}


.prime-input-box>input:not(.disabled):hover{
    background-color: var(--hover-background-color, var(--hover-input-background-color));
    border-color: var(--hover-border-color, var(--hover-input-border-color));

    /* border-color: var(--input-hover-color); */
    outline: var(--hover-outline-color, var(--hover-input-outline-color)) solid 0px;
    transition-property: outline, border, background;
    transition-duration: .1s, .3s, .3s;
}

.prime-input-box>input:not(.disabled):focus {
    background-color: var(--focus-background-color, var(--focus-input-background-color));
    border-color: var(--focus-border-color, var(--focus-input-border-color));
    outline: var(--focus-outline-color, var(--focus-input-outline-color)) solid 0.1875rem;
    /* outline: var(--input-outline-color) solid 3px; */
    transition-property: outline, border, background;
    /* transition-duration: .1s, .3s, .3s; */
    transition-duration: .1s;
}

.prime-input-box input {
    background-color: var(--background-color, var(--input-background-color));
    outline: var(--outline-color, var(--input-outline-color)) solid 0px;
    border-color: var(--border-color, var(--input-border-color));

    box-sizing: border-box;
    padding: .25rem;
    border-radius: .25rem;
    border-style: solid;
    border-width: 0.0625rem;
    font-size: smaller;
    transition-property: outline, border, background;
    /* transition-duration: .1s, .3s, .3s; */
    transition-duration: .1s;
    /* background-color: var(--input-background); */
    /* outline: var(--input-outline-color) solid 0px; */
    border-color:var(--input-border-color);
    display: block;
    width: 100%;
}

.prime-input-box input.disabled {
    background-color: var(--disable-background-color, var(--disable-input-background-color));
    border-color: var(--disable-border-color, var(--disable-input-border-color));
    outline-color: var(--disable-outline-color, var(--disable-input-outline-color));
    /* background-color: var(--input-background-disabled); */
    transition-property: outline, border, background;
    /* transition-duration: .1s, .3s, .3s; */
    transition-duration: .1s;
    /* border-color: var(--input-border-color-disabled); */
    cursor: default;
    caret-color: transparent;
}

.prime-input-box input:disabled:required:valid+span {
    color: var(--disable-label-color, var(--disable-input-label-color));
    transform: translate(-2.5%, -120%) scale(.85);
    transition-duration: .4s;
}

.ripple {
    overflow: hidden;
    position: relative;
}

.ripple>.ripple-effect {
    position: absolute;
    opacity: 1;
    pointer-events: none;
    border-radius: 50%;
    transform: scale(0);
    animation: ripple 1000ms linear;
    background-color: rgba(255, 255, 255, 0.25);
}